<h1>Enroll a Student into a Class</h1>

<form method="post" action="<%= create_enrollment_path() %>">
	<p>
		Class:<br />
		<select name="klass_id">
			<% @klasses.each do |klass| %>
				<option value="<%= klass.id %>"><%= klass.name %></option>
			<% end %>
		</select>
	</p>
	<p>
		Student:<br />
		<select name="student_id">
			<% @students.each do |student| %>
				<option value="<%= student.id %>"><%= student.name %></option>
			<% end %>
		</select>
	</p>
	<input type="submit">
</form>